.App {
  text-align: center;
}
.header {
  margin: 0 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spotBtn {
  background: transparent;
  text-decoration: none;
  border: none;
}
.popup * {
  margin: 0;
}
/* .spotBtn:focus{
   border: none;
     text-decoration: none;
     
} */
.mapBox {
  width: 100%;
}
