.App {
  margin-left: 0.5%;
  overflow: hidden;
}

/* HEADER */
.header {
  margin: 0 19px;
  font-family: "Caveat", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logIn {
  background: transparent;
  text-decoration: none;
  border: none;
  font-size: 20px;
}
.addSpotBtn {
  border-radius: 5px;
}
/* MAPBOX */
.mapBox {
  margin: auto;
}
.spotBtn {
  background: transparent;
  text-decoration: none;
  border: none;
}
.filterBtn {
  z-index: 2;
  top: 50px;
  position: absolute;
  right: 13px;
  padding-top: 0;
  padding-bottom: 2px;
  border-radius: 6px;
}
.filterBtn:hover {
  opacity: 0.8;
}

/* POPUP */
.popup * {
  margin: 0;
  padding: 0 2px;
  font-size: 11px;
  /* text-align: left; */
}
.starOff,
.starOn {
  margin-top: 4px;
  margin-right: 11px;
  margin-left: 5px;
  width: 20px;
  height: 15px;
}

.favBtn {
  width: 175px;
}

.mapboxgl-popup-close-button {
  padding-top: 0;
  margin-right: 4px;
  font-size: 19px;
}

/* TABLE */
.tableContainer {
  font-size: 13px;
  width: 100%;
  overflow-x: scroll;
}

.locationInput {
  margin-left: 20px;
}
.thBtn {
  width: 18%;
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}
.thBtn:hover {
  opacity: 0.9;
}
.table td {
  padding: 4px !important;
}
.pagination {
  font-size: smaller;
}

/* MODAL add spot*/
.modal {
  line-height: 6pt;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.modalFooter {
  height: 45px;
}

.btnF {
  color: white;
  background: rgb(138, 23, 245);
  padding: 4px;
  border-radius: 5px;
}
/* MODAL filter spot */
.applyFbtn {
  box-shadow: 2px 2px 5px 1px;
  transform: scale(0.9);
}
.filterBtn {
  height: 25px;
}

/* MEDIA */

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* td {
    border: none;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  } */
  Label the data */ td:nth-of-type(1):before {
    content: "Name   :    ";
  }
  td:nth-of-type(2):before {
    content: "Country   :    ";
  }
  td:nth-of-type(3):before {
    content: "Latitude   :    ";
  }
  td:nth-of-type(4):before {
    content: "Longitude   :    ";
  }
  td:nth-of-type(5):before {
    content: "Wind Prob.   :    ";
  }
  td:nth-of-type(6):before {
    content: "When to go   :    ";
  }
}
