/* .App {
  text-align: center;
} */
.header {
  margin: 0 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spotBtn {
  background: transparent;
  text-decoration: none;
  border: none;
}
/* POPUP */
.popup * {
  margin: 0;
  padding: 0 2px;
  font-size: 13px;
  /* text-align: left; */
}
.starOff,
.starOn {
  margin-top: 4px;
  margin-right: 11px;
  width: 20px;
  height: 15px;
}

.favBtn {
  width: 100%;
}
/* TABLE */
.tableContainer {
  width: 95% !important;
  font-size: 13px;
}
/* 
.mapBox {
  height: 500px;
} */
.locationInput {
  margin-left: 20px;
}
.thBtn {
  width: 18%;
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}
.thBtn:hover {
  opacity: 0.9;
}

/* MODAL */
.modal {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
