.App {
  margin-left: 0.5%;
}

/* HEADER */
.header {
  margin: 0 19px;
  font-family: "Caveat", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* MAPBOX */
.mapBox {
  margin: auto;
}
.spotBtn {
  background: transparent;
  text-decoration: none;
  border: none;
}

/* POPUP */
.popup * {
  margin: 0;
  padding: 0 2px;
  font-size: 11px;
  /* text-align: left; */
}
.starOff,
.starOn {
  margin-top: 4px;
  margin-right: 11px;
  width: 20px;
  height: 15px;
}

.favBtn {
  width: 175px;
}

/* TABLE */
.tableContainer {
  font-size: 13px;
}
.locationInput {
  margin-left: 20px;
}
.thBtn {
  width: 18%;
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}
.thBtn:hover {
  opacity: 0.9;
}

/* MODAL */
.modal {
  line-height: 6pt;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.modalFooter {
  height: 45px;
}
.btnF {
  background: rgb(211, 189, 231);
  padding: 4px;
}
